@model IEnumerable<PMLib.BLL.BookInfo>

@{
    ViewBag.Title = "Index";
}

<h2>书目管理</h2>

<p>
    @Html.ActionLink("添加新书", "Create")
</p>
<form action="~/AdminNav" method="post"><button type="submit" class="btn btn-primary float-right">返回导航页面</button></form>
<table class="table table-bordered table-striped table-hover ">
    <tr>
        <th>
            ISBN
        </th>
        <th>
           书名
        </th>
        <th>
            作者
        </th>
        <th>
            出版社
        </th>
        <th>
            出版时间
        </th>
        <th>
            总数
        </th>
        <th>
            分类
        </th>
        @*<th>位置</th>
        <th >可借数目</th>*@
        <th>操作</th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.bkISBN)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.bkName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.bkAuthor)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.bkPublisher)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.bkPubTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.bkCount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.bkSort)
            </td>
            @*<td>
                @Html.DisplayFor(modelItem => item.bookSite )
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.inShelf )
            </td>*@
            <td>
                
                @Html.ActionLink("详情", "Details", new { id = item.bkISBN }) |
                @Html.ActionLink("删除", "Delete", new { id = item.bkISBN })
            </td>
        </tr>
    }

</table>
 
